/*--------------------------------------------------------------
# Inner Circle - Single Post

1. Override existing styles from parent theme SASS
2. File attachment
--------------------------------------------------------------*/


@mixin small-horiz-divider {
	content: '';
	height: 1px;
	width: 100%;
	max-width: $uds-size-spacing-32;
	display: block;
	position: absolute;
	top: 0;
	background-color: $uds-color-base-gray-3;
}

// Removes default padding on mobile in favor of applying padding to a container.
.single main {
	padding: 0;
}

/*--------------------------------------------------------------
3. Hero + title layout
--------------------------------------------------------------*/

// Mobile
#single-hero {

	margin-bottom: 2rem;
	background-color: $uds-color-base-gray-2;

	.title-wrap {
		color: $uds-color-base-gray-7;
		padding: 2rem 2rem 0rem 2rem;

		h1 {
			/* Like an H2, mobile */
			margin: 0;
			font-size: 2rem;
			line-height: 2.125rem;
			letter-spacing: -0.07rem;
		}
	}

	.tag-wrap {
		color: $uds-color-base-gray-7;
		padding: 1rem 2rem 2rem 2rem;

		.entry-meta {
			margin-bottom: 1rem;
		}

		.tags-links {
			margin-bottom: 0;

			a {
				color: $uds-color-base-gray-7;
			}
		}

		svg {
			margin-right: $uds-size-spacing-1;
		}
	}

	.category-wrap {
		background-color: $uds-color-base-gray-7;
		color: $uds-color-base-white;
		height: 3rem;
		padding-left: 2rem;
		padding-right: 2rem;

		display: flex;
		justify-content: flex-start;
		align-items: center;

		.category-tags .btn {
			background-color: $uds-color-base-gray-7;
			color: $uds-color-base-white;
			text-transform: uppercase;
			margin-top: 0;
		}
	}
}

// Desktop
@include media-breakpoint-up($lg) {
	#single-hero {
		position: relative;
		max-width: 100%;
		margin-bottom: 4rem;
		display: grid;
		grid-template-columns: auto minmax(0px, 800px) 400px auto;
		grid-template-rows: auto auto;

		.title-wrap {
			grid-row: 1;
			grid-column: 2 / span 2;

			padding: 2rem 8rem 0 0;

			h1 {
				/* Like an H2 */
				margin: 0;
				font-size: 2.5rem;
				line-height: 2.75rem;
				letter-spacing: -.0875rem;
			}
		}

		.tag-wrap {
			grid-row: 2;
			grid-column: 2;

			padding: 1rem 0 1rem 0;

			.entry-meta {
				margin-bottom: .5rem;
			}
		}

		.category-wrap {
			grid-row: 2;
			grid-column: 3;
			align-self: end;
			margin-bottom: -1.5rem;
			margin-left: calc(2rem + 12px);

			.category-tags {
				text-align: center;
				margin: 0;
			}
		}
	}
}

/*--------------------------------------------------------------
4. content-wrap, adjust for desktop layout.
--------------------------------------------------------------*/
@include media-breakpoint-up($lg) {
	main>.container.content-wrap {
		padding-left: 0;
		padding-right: 0;
	}
}

/*--------------------------------------------------------------
5. File Attachment (.downloads)
--------------------------------------------------------------*/
.downloads {

	flex-direction: column;

	position: relative;
	margin: $uds-size-spacing-6 0;
	padding-top: $uds-size-spacing-6;

	&:before {
		@include small-horiz-divider;
	}

	img {
		margin-bottom: $uds-size-spacing-3;
	}

	img.attachment-icon {
		padding: $uds-size-spacing-3;
		border: 1px solid $uds-color-base-gray-2;
	}

	.media-body {
		p:first-child {
			// First child should always be the attachment title.
			font-weight: 700;
		}
	}
}

// Desktop
@include media-breakpoint-up($lg) {
	.downloads {

		flex-direction: row;

		img {
			margin-right: $uds-size-spacing-3;
		}
	}
}

/*--------------------------------------------------------------
5. Featured Image
--------------------------------------------------------------*/
.wp-block-image.wp-post-image {
	margin-bottom: 3rem;
}

/*--------------------------------------------------------------
5. Sidebar Post Meta Card
--------------------------------------------------------------*/
#sidebar-post-meta {
	.card {
		background-color: $uds-color-base-gray-1;
	}

	.card-ic-event .card-details {
		padding-top: 1rem;
		padding-bottom: 2rem;
	}
}

// Desktop
@include media-breakpoint-up($lg) {
	#sidebar-post-meta {
		padding: 0 0 0 2rem;

		>h3 {
			margin-top: 0; // Header at the top of the sidebar
		}
	}
}