/*--------------------------------------------------------------
# Inner Circle - Tag.php

1. Mobile
2. Desktop
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1. Mobile
--------------------------------------------------------------*/
.archive.tag {

	#tag-hero {

		.term-description {
			font-size: 1.25rem;
			padding-right: 2rem;
		}

		img {
			display: none;
		}

		.container {
			border-bottom: 1px solid $uds-color-base-gray-2;
			padding-top: 2rem;
			padding-bottom: 2rem;
			margin-bottom: 2rem;
		}
	}

	article {
		border-bottom: 1px solid #e4e4e4;
		padding-bottom: 1rem;
		margin-bottom: 1rem;

		&:last-child {
			border-bottom: 0;
		}
	}

	.entry-footer {
		display: inline-block;

		svg {
			margin-right: $uds-size-spacing-1;
			// color:$uds-color-base-gray-6;
		}

		svg.fa-clock,
		svg.fa-map-marker-alt {
			margin-left: $uds-size-spacing-3;
		}

		.card-tags {
			margin-top: $uds-size-spacing-2;
			padding: 0;
		}
	}
}


/*--------------------------------------------------------------
2. Desktop
--------------------------------------------------------------*/
@include media-breakpoint-up($lg) {
	.archive.tag {

		#tag-hero {
			.container {
				border-bottom: 2px solid $uds-color-base-gray-2;
				padding-top: 4rem;
				padding-bottom: 4rem;
				margin-bottom: 4rem;
			}

			img {
				display: block;
				margin-top: $uds-size-spacing-2;
			}
		}

		article {
			padding-bottom: 4rem;
			margin-bottom: 2rem;
		}
	}
}