/*--------------------------------------------------------------
# Inner Circle Post Column Block

1. Mobile
--------------------------------------------------------------*/

@import "../node_modules/@asu-design-system/design-tokens/build/scss/_variables"; 
@import "media-queries";

@mixin like-an-h4 {
    font-size: $uds-size-font-large;
    letter-spacing: $uds-component-heading-four-letter-spacing;
    font-weight:700;
}

/*--------------------------------------------------------------
1. Mobile
--------------------------------------------------------------*/

.ic-post-column {
    .story {
        border-bottom: 1px solid $uds-color-base-gray-3;
        padding-bottom: $uds-size-spacing-2;
        margin-bottom: $uds-size-spacing-2;

        svg {
            margin-right: $uds-size-spacing-1;
            margin-left: $uds-size-spacing-2;

            &:first-child {
                margin-left:0;
            }
        }

        h4 > a {
            color: $uds-color-base-gray-7;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

/*--------------------------------------------------------------
3. Admin only
--------------------------------------------------------------*/
// Prevent blocks's anchor tags from accidently being triggered in admin.
.wp-block .acf-block-preview .ic-post-column a {
    pointer-events: none;
}